.route_dir_status {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}
.route_details {
  width: 60%;
}
.route {
  margin: 0 0.5rem;
}
.route_name {
  padding: 0.5rem;
  width: 96.5%;
  border: none;
  outline: transparent;
}
.create_form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

.stop_details {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash_icon {
  margin-bottom: 0.5rem;
}
.stop_name {
  width: 5rem;
  flex-grow: 2;
}
.lat {
  width: 4rem;
  flex-grow: 1;
}
.long {
  width: 4rem;
  flex-grow: 1;
}
.stop_name_input {
  width: 95%;
}
.lat_input {
  width: 95%;
}
.long_input {
  width: 95%;
}
.submit {
  display: flex;
  justify-content: center;
}

.route_error {
  margin: 0.5rem;
}
.stop_error {
  margin: 1rem 0.5rem;
}

/* map container styling */
.formBlock {
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  width: 100%;
}

.leaflet-top .leaflet-control {
  margin-top: 180px;
}

#form {
  padding: 0;
  margin: 0;
}
input:nth-child(1) {
  margin-bottom: 10px;
}

/* view routes */
.route_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 1rem;
}
.route_link {
  display: block;
  width: 100%;
  text-decoration: none;
}
.routes_list_header {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.routes_list_detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
}
.routes_list_btn_header {
  display: flex;
  margin: 0.5rem;
  width: 110px;
  margin-left: auto;
}
